body {
    margin: 0;
    background-color: #000;
    color: #00ffcc;
    font-family: 'Courier New', monospace;
    overflow: hidden;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1); /* Mirror effect */
    z-index: 1;
}

.input_video { display: none; }

/* HUD LAYOUT */
.hud {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none; /* Let clicks pass through */
    z-index: 10;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
}

.top-bar, .bottom-bar {
    position: absolute;
    width: 90%;
    left: 5%;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 0 5px #00ffcc;
    border-bottom: 2px solid rgba(0, 255, 204, 0.3);
}

.top-bar { top: 20px; display: flex; justify-content: space-between; }
.bottom-bar { bottom: 20px; border-bottom: none; border-top: 2px solid rgba(0, 255, 204, 0.3); }

.crosshair {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 255, 204, 0.2);
    font-size: 50px;
}

#gesture-text { color: #ff0055; text-shadow: 0 0 8px #ff0055; }